.clients-says {
    max-width: 1920px;
    min-height: 95vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-left: calc(200 / 1920) * 100vw;
    padding-right: calc(200 / 1920) * 100vw;
    margin-bottom: 150px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    h4 {
        text-align: center;
        font-weight: 500;
        font-size: 1.25em;
        line-height: 30px;
        color: #646464;
    }
    > h1 {
        text-align: center;
        font-weight: 500;
        font-size: 3em;
        line-height: 72px;
        color: #212121;
    }
    .clients-says__slider {
        max-width: 1379px;
        height: 420px;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                .swiper-slide {

                }
            }
        }
        .says-slide {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            .says-slide__content {
                position: relative;
                max-width: 571px;
                min-height: 230px;
                margin: 130px 70px 30px 70px;
                box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
                border-radius: 70px 0px;
                .says-slide__content_photo {
                    position: absolute;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    left: -65px;
                    .person-photo {
                        width: 130px;
                        height: 130px;
                        border-radius: 35px 0px;
                        overflow: hidden;
                        z-index: 2;
                    }                  
                }
                .says-slide__content_message {
                    position: relative;
                    padding: 40px 40px 10px 100px;
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    h1 {
                        span:nth-child(1) {
                            font-weight: 700;
                            font-size: 1.5em;
                            line-height: 33px;
                            color: #212121;
                            margin-bottom: 8px;
                        }
                        span:nth-child(2) {
                            font-weight: 400;
                            font-size: 1em;
                            line-height: 22px;
                            color: #646464
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 1.125em;
                        line-height: 28px;
                        color: #646464;
                    }
                    .message-decore {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                    }
                }
            }
        }
        .btnNext, .btnPrev {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
            position: absolute;
            z-index: 3;
            top: 5px;
            &:hover {
                background-color: #37806B;
            }
        }
        .btnNext {
            right: 20px;
            svg {
                margin: 10px 13px 10px 13px;
            }
        }
        .btnPrev {
            right: 80px;
            svg {
                margin: 10px 14px 10px 12px;
            }
        }
    }
}