.footer {
    margin-right: calc(200 / 1920) * 100vw;
    margin-left: calc(200 / 1920) * 100vw;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    .footer__logo {
        img {
            margin-bottom: 15px;
        }
        >p {
            font-weight: 400;
            font-size: 1.125em;
            line-height: 28px;
            color: #646464;
        }
    }
    .footer__quick, .footer__company, .footer__contact, .footer__social {
        p {
            font-weight: 600;
            font-size: 1.5em;
            line-height: 40px;
            color: #212121;
            margin-bottom: 25px;
        }
        li {
            font-weight: 400;
            font-size: 1.125em;
            line-height: 28px;
            color: #646464;
            margin-bottom: 10px;
        }
        &.links {
            li {
                cursor: pointer;
            }
        }
    }
    .footer__social {
        p {
            margin-bottom: 20px;
        }
        .footer__social_items {
            display: flex;
            button {
                width: 37.17px;
                height: 37.17px;
                background-color: #D5D5D5;
                border-radius: 50%;
                margin-right: 8px;
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: #37806B;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                }
            }
        }

    }
}
.footer__year {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 18px;
    border-top: 1px solid #C4C4C4;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 25px;
    a {
        color:#37806B !important;
    }
    color: #646464;
}