.services {
    max-width: 1920px;
    min-height: 95vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-left: calc(150 / 1920) * 100vw;
    padding-right: calc(150 / 1920) * 100vw;
    margin-bottom: 150px;
    >h4 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25em;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #646464;
        padding-left: calc(50 / 1920) * 100vw;
        padding-right: calc(50 / 1920) * 100vw;
    }
    >h1 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 3em;
        line-height: 78px;
        color: #212121;
        padding-left: calc(50 / 1920) * 100vw;
        padding-right: calc(50 / 1920) * 100vw;
        margin-bottom: 40px;
    }
    .services__links {
        display: flex;
        justify-content: flex-start;
        padding-left: calc(50 / 1920) * 100vw;
        padding-right: calc(50 / 1920) * 100vw;
        margin-bottom: 20px;
        .services__links_item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 205px;
            height: 46px;
            border: 5px solid #37806B;
            background: #37806B;
            border-radius: 20px;
            color: #FFFFFF;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1em;
            line-height: 78px;
            margin-right: calc(70 / 1920) * 100vw;
            transition: background-color 0.3s,  border-color 0.3s ease;
            &.active {
                background: #FFFFFF;
                color: #37806B;
            }
            &:not(.active):hover {
                background: #11a87d;
                border: #11a87d;
            }
        }
    }
    .services__content {
        .all-services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            .all-services__item {
                position: relative;
                width: 470px;
                margin: 0 10px 30px;
                box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
                border-radius: 60px 0px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                img {
                    position: absolute;
                    top: 35px;
                    left: 40px;
                }
                h1 {
                    margin: 40px 15px 5px 100px;
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #212121;
                }
                p {
                    margin: 0 15px 20px 100px;
                    font-weight: 400;
                    font-size: 1.125em;
                    letter-spacing: -0.01em;
                    color: #646464;
                }
                &:nth-child(2) {
                    h1, p {color: #FFFFFF;}
                    background: #CAA892;
                }
            }
        }
        .service-items {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            .service-item {
                position: relative;
                width: 470px;
                margin: 0 10px 30px;
                box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
                border-radius: 60px 0px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                img {
                    position: absolute;
                    top: 35px;
                    left: 40px;
                }
                h1 {
                    margin: 40px 15px 5px 100px;
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #212121;
                }
                p {
                    margin: 0 15px 20px 100px;
                    font-weight: 400;
                    font-size: 1.125em;
                    letter-spacing: -0.01em;
                    color: #646464;
                }
                &.arch {
                    h1, p {color: #FFFFFF;}
                    background: #CAA892;
                }
            }
        }    
    }
}