.progress-wrapper {
    position: relative;
    width: 100%;
    margin: 5px auto 0 auto;
    width: 90%;
    height: 20px;
    background: #E0E0E0;
    border-radius: 10px;
    z-index: 4;
    text-align: center;
    .progress-wrapper__style {
        position: absolute;
        height: 20px;
        border-radius: 10px;
        background-color: #37806B;
        transition: width 0.5s ease, background-color 0.5s ease;
        z-index: 5;
    }
    .progress-wrapper__percent {
        position: relative;
        z-index: 6;
        color: #FFFFFF;
    }
    &.fixed {
        position: fixed;
        top: 0;
        left: 5%;
        
    }
}